<app-navbar-log user_name="{{UserName}}"></app-navbar-log>

<div class ="container-fluid">
  <h1 style="color:#fffbfcff;padding-top: 10px;margin: 0px;">Aktualne Turnieje</h1>
  <hr class="featurette-divider">
  <div class="row" *ngFor="let turn of tournaments">
    <div class="col">
      <svg *ngIf="turn.category === '1vs1 Z nagrodami'" xmlns="http://www.w3.org/2000/svg" width="140" height="140" fill="#F7B801" class="bi bi-coin" viewBox="0 0 16 16">
        <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
      </svg>

      <svg *ngIf="turn.category === '1vs1 Bez nagród'"xmlns="http://www.w3.org/2000/svg" width="140" height="140" fill="#1877F2" class="bi bi-trophy-fill" viewBox="0 0 16 16">
        <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935z"/>
      </svg>
      <h2>Nazwa turnieju: {{turn.name}}</h2>
      <h2>Kategoria: {{turn.category}}</h2>
      <h2>Sponsor: {{turn.sponsor}}</h2>
      <h2>Data: {{turn.date}}</h2>
      <h2>Zajęte miejsca: {{turn.filled}}/8</h2>
      <h2 style="margin-bottom: 5px; letter-spacing: 2px;">Zapisani gracze:</h2>
      <h2 style="margin-top: 0px;letter-spacing: 3px;">{{turn.p1}} {{turn.p2}} {{turn.p3}} {{turn.p4}} {{turn.p5}} {{turn.p6}} {{turn.p7}} {{turn.p8}}</h2>
      
      <button *ngIf="turn.filled < 8" class="btn btn-primary" (click)="signTurn(turn)">Zapisz się</button>
      <button *ngIf="turn.filled >= 8" class="btn btn-secondary" (click)="isFilled(turn)">Zapisz się</button>
      

      <hr class="featurette-divider">
    </div>
  </div>
</div>

<div class ="container-fluid">
  <h1 style="color:#fffbfcff;padding-top: 10px;margin: 0px;">Aktywni użytkownicy</h1>
  <hr class="featurette-divider">
  
  <div class="row">
    <div class="col">
      <h2 style="margin-top: 5px;">#</h2>
    </div>
    <div class="col">
      <h2 style="margin-top: 5px;">Nazwa Użytkownika</h2>
    </div>
  </div>
  <hr class="featurette-divider" style="margin-top: 5px;">

  <div class="row" *ngFor="let user of users;let i = index">
    <div class="col">
      <h2 style="margin-top: 5px;">{{i+1}}</h2>
    </div>
    <div class="col">
      <h2 style="margin-top: 5px;">{{user.name}}</h2>
    </div>
    <hr class="featurette-divider" style="margin-top: 5px;">
  </div>
</div>
