<div class="container col-xl-8 px-4 py-5">
    <div class="row {{reverse}} align-items-center-md">
      <div class="col-lg-6">
          <video style="min-width: 100%; min-height: 100%" autoplay loop muted playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true">
              <source class="h-100" src="../../assets/fun.mp4" type="video/mp4"/>
          </video>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">{{title}}</h1>
        <p class="lead">{{text}}</p>
      </div>
  </div>
</div>


<script>
  function play()
  {
    document.getElementsByTagName('video').play();
  }

  window.onload = play;
  audioElement.play();
</script>
