<div class="container col-xl-8 px-4 py-5">
    <div class="row {{reverse}} align-items-center-md">
      <div class="col-lg-6">
        <div class = cont>
          <svg>
            <circle cx="80" cy="80" r="60"></circle>
        </svg>
        <div class="counter">
            <p class = "prog" style="font-size: 50px;" data-text="Progress">Progress</p>
        </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">{{title}}</h1>
        <p class="lead">{{text}}</p>
      </div>
  </div>
</div>

