<app-navbar src_reg="/reg" src_login="/log"></app-navbar>

<app-main></app-main>
<app-carusel></app-carusel>

<app-hero title="Drużyny" text="Na naszej stronie znajdziesz najlepsze drużyny na świecie! Możesz również stworzyć własną drużynę, stańcie się zgraną grupą, która wzbije się na szczyt rankingów. Znajdź na naszej stronie znajomych, przyjaciół, z którymi wspólna gra będzie przyjemnością!" photo="../../assets/team.png" reverse="flex-lg-row-reverse" height="300" width="380"></app-hero>
<app-hero1 title="Rozwój" text="Rozwijaj swoje umiejętności grając z osobami spotkanymi na naszej stronie lub przyjaciółmi. Bądź uczniem i czerp wiedzę od lepszych graczy lub sam stań się nauczycielem pomagając innym! Samodzielnie lub wspólnie ze swoją drużyną, zyskuj nowe doświadczenia, umiejętności i niezapomnianie wspomnienia." reverse=""></app-hero1>
<app-hero2 title="Dobra zabawa" text="Co jest najważniejsze podczas rozgrywki? Według nas jest to po prostu dobra zabawa! Dlatego zapraszamy Cię na naszą stronę, która jest pełna ludzi chętnych do wspólnej rozgrywki i czerpania z niej radości. Poniżej znajdziesz przycisk, dzięki któremu się zarejestrujesz i dołączysz do szczęśliwej wspólnoty legend!"  reverse="flex-lg-row-reverse"></app-hero2>

<app-przycisk src="/reg" text="Zarejestruj się"></app-przycisk>
